<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proof of Concept Page</title>
{#    {%  %}#}
</head>
<body>
    <h1>This is for proving certain things work</h1>
    <div id="twitter">
        <h2>Twitter</h2>
        <p>Search Query</p>
        <form action="/datatwitter/poc/" method="get">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
    </div>
    <br/>
    <div id="dataset">
        <h2>Load up a dataset for me </h2>
    </div>
    <br/>
    <div id="sentiment">
        <h2>Give me some data to analyse</h2>
    </div>
</body>
</html>