{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Happiness</title>
    <!-- libraries / fonts -->
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- Our CSS-->
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block scripts %}{% endblock %}
</head>
<body>
    <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                   <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Open Happy</a>
                    </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/index">Return to Home <span class="sr-only">(current)</span></a></li>
                    </ul>
                </div>
            </nav>
        <div class="header">
            {% block header %} {% endblock %}
        </div>
        {% block content %}{% endblock %}
        <div class="footer">
            {% block footer %}{% endblock %}
        </div>
    </div>
    <script src="{% static "js/jquery-2.2.0.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
</body>
</html>