{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Happiness</title>
    <!-- libraries / fonts -->
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- Our CSS-->
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
    <div class="header">

    </div>
    {% block content %}{% endblock %}
    <div class="footer">
        <a href="/datatwitter/poc">Go To POC</a>
    </div>
    <script src="{% static "js/jquery-2.2.0.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
</body>
</html>