{% extends "datatwitter/base.html" %}
{% block content %}
    <div class="comparison">
        <div class="question">
            <h2>How would you like to compare the data?</h2>
                <p>Currently only Naive Bayes analysis is available</p>
{#                <p>{{ query }} + {{ file }}</p>#}
                <p>Once you click start this process can take up to 5 minutes</p>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ comparsion_form.as_p }}
                <input type="hidden" name="form-type" value="comparison-form" />
                <input type="hidden" name="dataset" value="{{ file }}">
                <input type="hidden" name="query" value="{{ query }}">
                <input type="submit" value="Submit" />
            </form>
        </div>
{#        <div id="result">#}
{#            Here is the result of that comparison, how do you want to visualise it?#}
{#            Form#}
{#        </div>#}
    </div>
{% endblock %}