<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Happiness</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
{# seperate header and footer soon#}
<body>
    <div class="header">

    </div>
    <div class="jumbotron" id="title">
        <h1>Welcome to Open Happiness</h1>
        <p>Begin Button goes here I guess</p>
    </div>
    <div class="footer">

    </div>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
</body>
</html>