{# The index page#}

{% extends "datatwitter/base.html" %}
{% block content %}
    <div class="jumbotron" id="title">
        <h1>Open Happiness</h1>
        <h2>What is this?</h2>
        <p>This combines twitter data and datasets to create visualisations (using Sentiment Analysis) that quantify happiness data gathered from both a user-generated query
            using Twitter and a JSON dataset.</p>
        <a href="start" class="btn btn-default btn-lg">Start Comparison</a>
    </div>
{% endblock %}
{% block footer %}

{% endblock %}