<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Happiness</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/base.css">
</head>
{# seperate header and footer soon#}
<body>
    <div class="header">

    </div>
    <div class="jumbotron" id="title">
        <h1>Welcome to Open Happiness</h1>
        <p>Begin Button goes here I guess</p>
    </div>
    <div class="footer">
        <a href="/datatwitter/poc">Go To POC</a>
    </div>
{#    <script src="../static/bootstrap/js/bootstrap.js"></script>#}
</body>
</html>