{% extends "datatwitter/base.html" %}
{% block scripts %}
    <!-- Data Vis -->
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content %}
    <div class="visualisation">
        <h2>Here is the visualised form of the comparison results</h2>
        <div id="chart_div">

        </div>
        <div id="final_comparison">
            <p>
                Dataset Results: </br>
                Average: {{ comparison_data_file.1 }} </br>
                Median: {{ comparison_data_file.3 }} </br>
                Range: {{ comparison_data_file.2 }} </br>
            </p>
            <p>
                Twitter Query Data: </br>
                Average: {{ comparison_data_twitter.1 }} </br>
                Median: {{ comparison_data_twitter.3 }} </br>
                Range: {{ comparison_data_twitter.2 }} </br>
            </p>
            <p>{{ final_comparison }}</p>
            <p id="query_name" style="visibility: hidden">{{ comparison_data_twitter.4 }}</p>
            <p id="chart_type" style="visibility: hidden">box</p>
        </div>
    </div>
    <script type='text/javascript'>
        var file_data = {{ file_result|safe }};
        var file_data_flatten = [].concat.apply([], file_data);
        var twitter_data = {{ twitter_result|safe }};
        var twitter_data_unflatten = twitter_data[2];
        var twitter_data_flatten = [];
        for(var i=0;i<twitter_data_unflatten.length;i++){
            twitter_data_flatten[i] = twitter_data_unflatten[i][1];
        }
        var chart_type = document.getElementById('chart_type').innerHTML;
        console.log(chart_type);

        if (chart_type == 'box') {
            var trace1 = {
              x: twitter_data_flatten,
              type: 'box',
              name: 'From Twitter'
            };

            var trace2 = {
              x: file_data_flatten,
              type: 'box',
              name: 'From Dataset'
            };
        } else if (chart_type == 'scatter') {
            var trace1 = {
              x: twitter_data_flatten,
              type: 'scatter',
              mode: 'markers',
              name: 'From Twitter'
            };

            var trace2 = {
              x: file_data_flatten,
              type: 'scatter',
              mode: 'markers',
              name: 'From Dataset'
            };
        }

        var data = [trace1, trace2];
        var query = document.getElementById('query_name').innerHTML;
        console.log(query);
        var chart_title = " Dataset vs Twitter Comparison of the Query: " + query;
       // console.log(query);
        var layout = {
          title: chart_title
        };

        Plotly.newPlot('chart_div', data, layout);
    </script>
{% endblock %}